[submodule "thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "thirdparty/mjpg-streamer"]
	path = thirdparty/mjpg-streamer
	url = https://github.com/jacksonliam/mjpg-streamer.git
