/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-top: 0px;
}

tr:nth-child(even) {background: #DDD}
tr:nth-child(odd) {background: #FFF}

.tag {
  border: 1px solid black;
  border-radius: 5px;
}
.tag[toggled='on'] {
  background-color: #F4A261;
}

.inline_label {
  display: inline;
}

#menu {
  background-color: black;
  color: white;
}
#menu .item:hover {
  background-color: orange;
}
#menu .item {
  padding-left: 6px;
  padding-right: 10px;
  border-right: solid 1px white;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
#menu a:visited{
  color:white;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
}

ul.context-menu__items {
  list-style-type: none;
}
