<h1>Recettes</h1>
{% block items %}
<p>
  Title: {{ title }}<br/>
  Text: {{ text }}<br/>
  {% block details %}Detail: {{ detail }}{% endblock %}
</p>
{% endblock %}

<!-- SECTION *Recette -->
<div id="Recette">
<h1>Recettes</h1>

<h2>Entrées</h2>
Soupe aux pois
<h2>Brevages</h2>
Chocolat chaud
Capuccino vanille française
Fraise kiwi
<h2>Repas</h2>
Riz
Pâtes

<h2>Desserts</h2>
Gateau aux carottes
<h2>Accompagnements</h2>
<div><a href="/show/hummus">Hummus</a></div>
<div><a href="/show/tahini">Tahini</a></div>

50g riz

<h2>Codes</h2>
Riz au jasmin: 1610

</div>
